BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# DATABASE_URL=
DATABASE_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
NEXT_PUBLIC_SITE_URL=

# ResellerClub & Google Workspace
RESELLERCLUB_AUTH_USER_ID=
RESELLERCLUB_API_KEY=
RC_PROXY_URL=
RC_PROXY_TOKEN=
RESELLERCLUB_IS_TEST=true